// ==========================================================================
// # Cheat - Hot fixes and quick code; needs cleaning up afterwards
// ==========================================================================


.app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.v-room {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  position: relative;
}

.v-content {
  grid-gap: 1rem;
    box-shadow: 0 0 2em rgba(0,0,0,.75);
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
    "center center"
    "left right";
  grid-template-columns: repeat(2,calc(50% - 0.5rem));
  
  
    @media screen and (min-width: 767px) {
      grid-template-areas: "left center right";
      grid-template-columns: minmax(15rem,1fr) auto minmax(15rem,1fr);
    }
  
    min-width: fit-content;
    padding: 1rem;

    &-left {
      display: flex;
      flex-direction: column;
      grid-area: left;
      min-width: 0;
    }

    &-center {
      align-self: flex-start;
      bottom: 1rem;
      margin: 0;
      top: 1rem;

      @media screen and (min-width: 767px) {
        position: sticky;
      }

      backface-visibility: hidden;
      display: flex;
      grid-area: center;
      // margin: auto;
      transform-origin: 0 0;
    }

    &-right {
      display: flex;
      grid-area: right;
      width: 100%;
    }
}



.cheat-svg-icon svg {
  flex-shrink: 0;
  min-block-size: 125%;
  min-inline-size: 125%;
}

.room {
  grid-gap: 1rem;
  box-shadow: 0 0 2em rgba(0,0,0,.75);
  box-sizing: border-box;
  display: grid;



  min-width: fit-content;
  padding: 1rem;

&-left {
  display: flex;
  flex-direction: column;
  grid-area: left;
  min-width: 0;
}

&-center {
  display: flex;
  grid-area: center;
  transform-origin: 0 0;
  align-self: flex-start;
  bottom: 1rem;
  margin: 0;
  position: sticky;
  top: 1rem
}

&-right {
  display: flex;
  grid-area: right;
}


}


.board-wrap {
  backface-visibility: hidden;
  display: flex;
  grid-area: center;
  margin: auto;
  transform-origin: 0 0;
  width: 100%;
}

.board {
  display: grid;
  grid-template-areas:
  "start top prison"
  "left center right"
  "gotoprison bottom sleep";
  height: fit-content;
  position: relative;
  width: fit-content;
  border: 3px solid red;
  &-start {
    grid-area: start;
  }

  &-prison {
    grid-area: prison;
  }

  &-sleep {
    grid-area: sleep;
  }

  &-gotojail {
    grid-area: gotoprison;
  }


  &-top {
    grid-area: top;
    display: flex;
    flex-direction: row;
  }

  &-right {
    grid-area: right;
    display: flex;
    flex-direction: column;

    & div {
      transform: rotate(180.04deg);
      writing-mode: vertical-rl;
      block-size: 6.5rem;
      border-radius: 0.5em;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      inline-size: 0;
      min-inline-size: 4.25rem;
    }
  }

  &-bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
  }

  &-left {
    grid-area: left;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
    & div {
      transform: rotate(180.04deg);
      writing-mode: vertical-rl;
      block-size: 6.5rem;
      border-radius: 0.5em;
      box-sizing: border-box;
      color: #fff;
      display: flex;
      flex: 1 0 0;
      flex-direction: column;
      inline-size: 0;
      min-inline-size: 4.25rem;
    }
  }
}


.room-wrap {
  display: flex;
    flex-direction: column;
    margin: auto 0;
    position: relative;
}


// body::-webkit-scrollbar {
//   background: 0 0;
//   height: 0.875rem;
//   width: 0.875rem;
// }

// body::-webkit-scrollbar-corner {
//   background: 0 0;
// }

// body::-webkit-scrollbar-thumb {
//   background: hsla(0,0%,100%,.3);
//   background-clip: content-box;
//   border: 0.29166667rem solid transparent;
//   border-radius: 0.875rem;
// }

body {
  height: 100%;
}

// html {
//   -webkit-text-size-adjust: none;
//   touch-action: manipulation;
// }